{
    "openapi": "3.1.0",
    "info": {
        "title": "sayr.io v1 Public API",
        "description": "Sayr.io public API v1 documentation.",
        "version": "1.0.0"
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "servers": [
        {
            "url": "https://api.sayr.io/v1",
            "description": "Production"
        }
    ],
    "paths": {
        "/organization/{org_slug}": {
            "get": {
                "operationId": "getOrganizationByOrgSlug",
                "summary": "Get organization",
                "description": "Retrieve public information for an organization identified by its slug.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "description": "Organization UUID",
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "description": "Organization slug used in URLs",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Organization name",
                                                    "type": "string"
                                                },
                                                "logo": {
                                                    "description": "Organization logo URL",
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "bannerImg": {
                                                    "description": "Organization banner image URL",
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "eventsUrl": {
                                                    "description": "Public: URL to fetch organization events for live updates",
                                                    "type": "string"
                                                },
                                                "members": {
                                                    "description": "List of organization members with public info",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "User ID",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "member name",
                                                                "type": "string"
                                                            },
                                                            "image": {
                                                                "description": "avatar URL",
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "null"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "image"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "slug",
                                                "name",
                                                "logo",
                                                "bannerImg",
                                                "eventsUrl",
                                                "members"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/labels": {
            "get": {
                "operationId": "getOrganizationByOrgSlugLabels",
                "summary": "List organization labels",
                "description": "Retrieve all public labels associated with an organization.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "description": "Label UUID",
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "description": "ID of the organization this label belongs to",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Label name",
                                                        "type": "string"
                                                    },
                                                    "color": {
                                                        "description": "Label color in hsla code",
                                                        "type": "string"
                                                    },
                                                    "visible": {
                                                        "description": "Label visibility",
                                                        "type": "string",
                                                        "enum": [
                                                            "public",
                                                            "private"
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "description": "Label creation timestamp in ISO format",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "name",
                                                    "color",
                                                    "visible",
                                                    "createdAt"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/categories": {
            "get": {
                "operationId": "getOrganizationByOrgSlugCategories",
                "summary": "List organization categories",
                "description": "Retrieve all public categories associated with an organization.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        },
                        "description": "Specifies the sort order by creation date. Use asc for ascending or desc for descending."
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "description": "Category UUID",
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "description": "ID of the organization this category belongs to",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Category name",
                                                        "type": "string"
                                                    },
                                                    "color": {
                                                        "description": "Category color in hsla code",
                                                        "type": "string"
                                                    },
                                                    "icon": {
                                                        "description": "Category icon URL or identifier",
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "description": "Category creation timestamp in ISO format",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "name",
                                                    "color",
                                                    "icon",
                                                    "createdAt"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/tasks": {
            "get": {
                "operationId": "getOrganizationByOrgSlugTasks",
                "summary": "List organization tasks",
                "description": "Retrieve a paginated list of public tasks for an organization.",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        },
                        "description": "Specifies the sort order by creation date. Use asc for ascending or desc for descending."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 50,
                            "default": 5
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "description": "Page number (starting from 1)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "description": "Task UUID",
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "description": "ID of the organization this task belongs to",
                                                        "type": "string"
                                                    },
                                                    "shortId": {
                                                        "description": "Short numeric ID unique within the organization",
                                                        "type": "number"
                                                    },
                                                    "visible": {
                                                        "description": "Task visibility",
                                                        "type": "string",
                                                        "enum": [
                                                            "public"
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "description": "Task creation timestamp in ISO format",
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "description": "Task last update timestamp in ISO format",
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "description": "Task title",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "Task description in blocknote JSON format",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "Task status",
                                                        "type": "string",
                                                        "enum": [
                                                            "backlog",
                                                            "todo",
                                                            "in-progress",
                                                            "done",
                                                            "cancelled"
                                                        ]
                                                    },
                                                    "priority": {
                                                        "description": "Task priority",
                                                        "type": "string",
                                                        "enum": [
                                                            "none",
                                                            "low",
                                                            "medium",
                                                            "high",
                                                            "urgent"
                                                        ]
                                                    },
                                                    "createdBy": {
                                                        "description": "User who created the task",
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "User ID",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "User name",
                                                                        "type": "string"
                                                                    },
                                                                    "displayName": {
                                                                        "description": "User display name",
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "image": {
                                                                        "description": "User avatar URL",
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "name",
                                                                    "displayName",
                                                                    "image"
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "category": {
                                                        "description": "Category associated with the task",
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Category UUID",
                                                                        "type": "string"
                                                                    },
                                                                    "organizationId": {
                                                                        "description": "ID of the organization this category belongs to",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Category name",
                                                                        "type": "string"
                                                                    },
                                                                    "color": {
                                                                        "description": "Category color in hsla code",
                                                                        "type": "string"
                                                                    },
                                                                    "icon": {
                                                                        "description": "Category icon URL or identifier",
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "createdAt": {
                                                                        "description": "Category creation timestamp in ISO format",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "organizationId",
                                                                    "name",
                                                                    "color",
                                                                    "icon",
                                                                    "createdAt"
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "labels": {
                                                        "description": "List of labels associated with the task",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Label UUID",
                                                                    "type": "string"
                                                                },
                                                                "organizationId": {
                                                                    "description": "ID of the organization this label belongs to",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "Label name",
                                                                    "type": "string"
                                                                },
                                                                "color": {
                                                                    "description": "Label color in hsla code",
                                                                    "type": "string"
                                                                },
                                                                "visible": {
                                                                    "description": "Label visibility",
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "public",
                                                                        "private"
                                                                    ]
                                                                },
                                                                "createdAt": {
                                                                    "description": "Label creation timestamp in ISO format",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "organizationId",
                                                                "name",
                                                                "color",
                                                                "visible",
                                                                "createdAt"
                                                            ]
                                                        }
                                                    },
                                                    "releaseId": {
                                                        "description": "ID of the release this task is associated with",
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "voteCount": {
                                                        "description": "Number of votes the task has received",
                                                        "type": "number"
                                                    },
                                                    "parentId": {
                                                        "description": "ID of the parent task if this is a subtask",
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "descriptionHtml": {
                                                        "description": "Task description rendered as HTML",
                                                        "type": "string"
                                                    },
                                                    "descriptionMarkdown": {
                                                        "description": "Task description rendered as Markdown",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "shortId",
                                                    "visible",
                                                    "createdAt",
                                                    "updatedAt",
                                                    "title",
                                                    "description",
                                                    "status",
                                                    "priority",
                                                    "createdBy",
                                                    "category",
                                                    "labels",
                                                    "releaseId",
                                                    "voteCount",
                                                    "parentId",
                                                    "descriptionHtml",
                                                    "descriptionMarkdown"
                                                ]
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "limit": {
                                                    "type": "number"
                                                },
                                                "page": {
                                                    "type": "number"
                                                },
                                                "totalPages": {
                                                    "type": "number"
                                                },
                                                "totalItems": {
                                                    "type": "number"
                                                },
                                                "hasMore": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "limit",
                                                "page",
                                                "totalPages",
                                                "totalItems",
                                                "hasMore"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "pagination"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/tasks/{task_short_id}": {
            "get": {
                "operationId": "getOrganizationByOrgSlugTasksByTaskShortId",
                "summary": "Get task",
                "description": "Retrieve a public task by its short identifier.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "task_short_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "description": "Task UUID",
                                                    "type": "string"
                                                },
                                                "organizationId": {
                                                    "description": "ID of the organization this task belongs to",
                                                    "type": "string"
                                                },
                                                "shortId": {
                                                    "description": "Short numeric ID unique within the organization",
                                                    "type": "number"
                                                },
                                                "visible": {
                                                    "description": "Task visibility",
                                                    "type": "string",
                                                    "enum": [
                                                        "public"
                                                    ]
                                                },
                                                "createdAt": {
                                                    "description": "Task creation timestamp in ISO format",
                                                    "type": "string"
                                                },
                                                "updatedAt": {
                                                    "description": "Task last update timestamp in ISO format",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "description": "Task title",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "Task description in blocknote JSON format",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "Task status",
                                                    "type": "string",
                                                    "enum": [
                                                        "backlog",
                                                        "todo",
                                                        "in-progress",
                                                        "done",
                                                        "cancelled"
                                                    ]
                                                },
                                                "priority": {
                                                    "description": "Task priority",
                                                    "type": "string",
                                                    "enum": [
                                                        "none",
                                                        "low",
                                                        "medium",
                                                        "high",
                                                        "urgent"
                                                    ]
                                                },
                                                "createdBy": {
                                                    "description": "User who created the task",
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "description": "User ID",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "User name",
                                                                    "type": "string"
                                                                },
                                                                "displayName": {
                                                                    "description": "User display name",
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "type": "null"
                                                                        }
                                                                    ]
                                                                },
                                                                "image": {
                                                                    "description": "User avatar URL",
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "type": "null"
                                                                        }
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "name",
                                                                "displayName",
                                                                "image"
                                                            ]
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "category": {
                                                    "description": "Category associated with the task",
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Category UUID",
                                                                    "type": "string"
                                                                },
                                                                "organizationId": {
                                                                    "description": "ID of the organization this category belongs to",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "Category name",
                                                                    "type": "string"
                                                                },
                                                                "color": {
                                                                    "description": "Category color in hsla code",
                                                                    "type": "string"
                                                                },
                                                                "icon": {
                                                                    "description": "Category icon URL or identifier",
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "type": "null"
                                                                        }
                                                                    ]
                                                                },
                                                                "createdAt": {
                                                                    "description": "Category creation timestamp in ISO format",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "organizationId",
                                                                "name",
                                                                "color",
                                                                "icon",
                                                                "createdAt"
                                                            ]
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "labels": {
                                                    "description": "List of labels associated with the task",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Label UUID",
                                                                "type": "string"
                                                            },
                                                            "organizationId": {
                                                                "description": "ID of the organization this label belongs to",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Label name",
                                                                "type": "string"
                                                            },
                                                            "color": {
                                                                "description": "Label color in hsla code",
                                                                "type": "string"
                                                            },
                                                            "visible": {
                                                                "description": "Label visibility",
                                                                "type": "string",
                                                                "enum": [
                                                                    "public",
                                                                    "private"
                                                                ]
                                                            },
                                                            "createdAt": {
                                                                "description": "Label creation timestamp in ISO format",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "organizationId",
                                                            "name",
                                                            "color",
                                                            "visible",
                                                            "createdAt"
                                                        ]
                                                    }
                                                },
                                                "releaseId": {
                                                    "description": "ID of the release this task is associated with",
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "voteCount": {
                                                    "description": "Number of votes the task has received",
                                                    "type": "number"
                                                },
                                                "parentId": {
                                                    "description": "ID of the parent task if this is a subtask",
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "descriptionHtml": {
                                                    "description": "Task description rendered as HTML",
                                                    "type": "string"
                                                },
                                                "descriptionMarkdown": {
                                                    "description": "Task description rendered as Markdown",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "organizationId",
                                                "shortId",
                                                "visible",
                                                "createdAt",
                                                "updatedAt",
                                                "title",
                                                "description",
                                                "status",
                                                "priority",
                                                "createdBy",
                                                "category",
                                                "labels",
                                                "releaseId",
                                                "voteCount",
                                                "parentId",
                                                "descriptionHtml",
                                                "descriptionMarkdown"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/tasks/{task_short_id}/comments": {
            "get": {
                "operationId": "getOrganizationByOrgSlugTasksByTaskShortIdComments",
                "summary": "List task comments",
                "description": "Retrieve a paginated list of public comments for a task.",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "task_short_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        },
                        "description": "Specifies the sort order by creation date. Use asc for ascending or desc for descending."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 30,
                            "default": 5
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "description": "Page number (starting from 1)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "description": "Comment UUID",
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "description": "ID of the organization this comment belongs to",
                                                        "type": "string"
                                                    },
                                                    "taskId": {
                                                        "description": "ID of the task this comment is associated with",
                                                        "type": "string"
                                                    },
                                                    "createdAt": {
                                                        "description": "Comment creation timestamp in ISO format",
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "description": "Comment last update timestamp in ISO format",
                                                        "type": "string"
                                                    },
                                                    "content": {
                                                        "description": "Comment content in BlockNote JSON format"
                                                    },
                                                    "contentHtml": {
                                                        "description": "Comment content rendered as HTML",
                                                        "type": "string"
                                                    },
                                                    "contentMarkdown": {
                                                        "description": "Comment content rendered as Markdown",
                                                        "type": "string"
                                                    },
                                                    "createdBy": {
                                                        "description": "User who created the comment, or null if user data is not available",
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "image": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "image"
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "visibility": {
                                                        "description": "Comment visibility level",
                                                        "type": "string",
                                                        "enum": [
                                                            "public",
                                                            "internal"
                                                        ]
                                                    },
                                                    "source": {
                                                        "description": "Source of the comment",
                                                        "type": "string",
                                                        "enum": [
                                                            "sayr",
                                                            "github"
                                                        ]
                                                    },
                                                    "parentId": {
                                                        "description": "ID of the parent comment if this is a reply, null if top-level",
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "reactions": {
                                                        "type": "object",
                                                        "properties": {
                                                            "total": {
                                                                "type": "number"
                                                            },
                                                            "reactions": {
                                                                "type": "object",
                                                                "propertyNames": {
                                                                    "type": "string"
                                                                },
                                                                "additionalProperties": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "count": {
                                                                            "type": "number"
                                                                        },
                                                                        "users": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "count",
                                                                        "users"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "total",
                                                            "reactions"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "taskId",
                                                    "createdAt",
                                                    "updatedAt",
                                                    "content",
                                                    "contentHtml",
                                                    "contentMarkdown",
                                                    "createdBy",
                                                    "visibility",
                                                    "source",
                                                    "parentId"
                                                ]
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "limit": {
                                                    "type": "number"
                                                },
                                                "page": {
                                                    "type": "number"
                                                },
                                                "totalPages": {
                                                    "type": "number"
                                                },
                                                "totalItems": {
                                                    "type": "number"
                                                },
                                                "hasMore": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "limit",
                                                "page",
                                                "totalPages",
                                                "totalItems",
                                                "hasMore"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "pagination"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/releases": {
            "get": {
                "operationId": "getOrganizationByOrgSlugReleases",
                "summary": "Get Organization Releases",
                "description": "Retrieve paginated releases for the specified organization.",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 50,
                            "default": 5
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "org_slug",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "description": "Release UUID",
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "description": "ID of the organization this release belongs to",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Release name",
                                                        "type": "string"
                                                    },
                                                    "slug": {
                                                        "description": "Release slug used in URLs",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "Release description in blocknote JSON format",
                                                        "type": "string"
                                                    },
                                                    "descriptionHtml": {
                                                        "description": "Release description rendered as HTML",
                                                        "type": "string"
                                                    },
                                                    "descriptionMarkdown": {
                                                        "description": "Release description rendered as Markdown",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "Release status",
                                                        "type": "string",
                                                        "enum": [
                                                            "planned",
                                                            "in-progress",
                                                            "released",
                                                            "archived"
                                                        ]
                                                    },
                                                    "targetDate": {
                                                        "description": "Release target date in ISO format",
                                                        "type": "string"
                                                    },
                                                    "releasedAt": {
                                                        "description": "Release date in ISO format, null if not released yet",
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "color": {
                                                        "description": "Release color in hsla code",
                                                        "type": "string"
                                                    },
                                                    "icon": {
                                                        "description": "Release icon URL or identifier",
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdBy": {
                                                        "description": "User who created the release, or null if user data is not available",
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "User ID",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "User name",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "name"
[...]
