{
    "openapi": "3.1.0",
    "info": {
        "title": "sayr.io v1 Public API",
        "description": "Sayr.io public API v1 documentation.",
        "version": "1.0.0"
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "servers": [
        {
            "url": "https://api.sayr.io/v1",
            "description": "Production"
        }
    ],
    "paths": {
        "/organization/{org_slug}": {
            "get": {
                "operationId": "getOrganization:org_slug",
                "summary": "Get organization",
                "description": "Retrieve public information for an organization identified by its slug.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "logo": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "bannerImg": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "createdAt": {
                                                    "type": "string"
                                                },
                                                "updatedAt": {
                                                    "type": "string"
                                                },
                                                "shortId": {
                                                    "type": "string"
                                                },
                                                "eventsUrl": {
                                                    "type": "string"
                                                },
                                                "members": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "userId": {
                                                                "type": "string"
                                                            },
                                                            "organizationId": {
                                                                "type": "string"
                                                            },
                                                            "createdAt": {
                                                                "type": "string"
                                                            },
                                                            "user": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "image": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "createdAt": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "name",
                                                                    "image",
                                                                    "createdAt"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "userId",
                                                            "organizationId",
                                                            "createdAt",
                                                            "user"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "slug",
                                                "logo",
                                                "bannerImg",
                                                "description",
                                                "createdAt",
                                                "updatedAt",
                                                "shortId",
                                                "eventsUrl",
                                                "members"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/labels": {
            "get": {
                "operationId": "getOrganization:org_slugLabels",
                "summary": "List organization labels",
                "description": "Retrieve all public labels associated with an organization.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "color": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "visible": {
                                                        "type": "string",
                                                        "enum": [
                                                            "public",
                                                            "private"
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "name",
                                                    "color",
                                                    "visible",
                                                    "createdAt"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/categories": {
            "get": {
                "operationId": "getOrganization:org_slugCategories",
                "summary": "List organization categories",
                "description": "Retrieve all public categories associated with an organization.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        },
                        "description": "Specifies the sort order by creation date. Use asc for ascending or desc for descending."
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "color": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "icon": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "name",
                                                    "color",
                                                    "icon",
                                                    "createdAt"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/tasks": {
            "get": {
                "operationId": "getOrganization:org_slugTasks",
                "summary": "List organization tasks",
                "description": "Retrieve a paginated list of public tasks for an organization.",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        },
                        "description": "Specifies the sort order by creation date. Use asc for ascending or desc for descending."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 50,
                            "default": 5
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "description": "Page number (starting from 1)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "type": "string"
                                                    },
                                                    "shortId": {
                                                        "anyOf": [
                                                            {
                                                                "type": "integer",
                                                                "minimum": -2147483648,
                                                                "maximum": 2147483647
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "visible": {
                                                        "type": "string",
                                                        "enum": [
                                                            "public",
                                                            "private"
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "description": {
                                                        "anyOf": [
                                                            {
                                                                "anyOf": [
                                                                    {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "boolean"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "propertyNames": {
                                                                            "type": "string"
                                                                        },
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "backlog",
                                                            "todo",
                                                            "in-progress",
                                                            "done",
                                                            "canceled"
                                                        ]
                                                    },
                                                    "priority": {
                                                        "type": "string",
                                                        "enum": [
                                                            "none",
                                                            "low",
                                                            "medium",
                                                            "high",
                                                            "urgent"
                                                        ]
                                                    },
                                                    "createdBy": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "category": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "releaseId": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "voteCount": {
                                                        "type": "integer",
                                                        "minimum": -2147483648,
                                                        "maximum": 2147483647
                                                    },
                                                    "parentId": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "aiSummaryHash": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "aiSummaryGeneratedAt": {
                                                        "type": "string"
                                                    },
                                                    "descriptionHtml": {
                                                        "type": "string"
                                                    },
                                                    "descriptionMarkdown": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "shortId",
                                                    "visible",
                                                    "createdAt",
                                                    "updatedAt",
                                                    "title",
                                                    "description",
                                                    "status",
                                                    "priority",
                                                    "createdBy",
                                                    "category",
                                                    "releaseId",
                                                    "voteCount",
                                                    "parentId",
                                                    "aiSummaryHash",
                                                    "aiSummaryGeneratedAt",
                                                    "descriptionHtml",
                                                    "descriptionMarkdown"
                                                ]
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "limit": {
                                                    "type": "number"
                                                },
                                                "page": {
                                                    "type": "number"
                                                },
                                                "totalPages": {
                                                    "type": "number"
                                                },
                                                "totalItems": {
                                                    "type": "number"
                                                },
                                                "hasMore": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "limit",
                                                "page",
                                                "totalPages",
                                                "totalItems",
                                                "hasMore"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "pagination"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/tasks/{task_short_id}": {
            "get": {
                "operationId": "getOrganization:org_slugTasks:task_short_id",
                "summary": "Get task",
                "description": "Retrieve a public task by its short identifier.",
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "task_short_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "organizationId": {
                                                    "type": "string"
                                                },
                                                "shortId": {
                                                    "anyOf": [
                                                        {
                                                            "type": "integer",
                                                            "minimum": -2147483648,
                                                            "maximum": 2147483647
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "visible": {
                                                    "type": "string",
                                                    "enum": [
                                                        "public",
                                                        "private"
                                                    ]
                                                },
                                                "createdAt": {
                                                    "type": "string"
                                                },
                                                "updatedAt": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "description": {
                                                    "anyOf": [
                                                        {
                                                            "anyOf": [
                                                                {
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "type": "number"
                                                                        },
                                                                        {
                                                                            "type": "boolean"
                                                                        },
                                                                        {
                                                                            "type": "null"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "object",
                                                                    "propertyNames": {
                                                                        "type": "string"
                                                                    },
                                                                    "additionalProperties": {}
                                                                },
                                                                {
                                                                    "type": "array",
                                                                    "items": {}
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "backlog",
                                                        "todo",
                                                        "in-progress",
                                                        "done",
                                                        "canceled"
                                                    ]
                                                },
                                                "priority": {
                                                    "type": "string",
                                                    "enum": [
                                                        "none",
                                                        "low",
                                                        "medium",
                                                        "high",
                                                        "urgent"
                                                    ]
                                                },
                                                "createdBy": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "category": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "releaseId": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "voteCount": {
                                                    "type": "integer",
                                                    "minimum": -2147483648,
                                                    "maximum": 2147483647
                                                },
                                                "parentId": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "aiSummaryHash": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "null"
                                                        }
                                                    ]
                                                },
                                                "aiSummaryGeneratedAt": {
                                                    "type": "string"
                                                },
                                                "descriptionHtml": {
                                                    "type": "string"
                                                },
                                                "descriptionMarkdown": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "organizationId",
                                                "shortId",
                                                "visible",
                                                "createdAt",
                                                "updatedAt",
                                                "title",
                                                "description",
                                                "status",
                                                "priority",
                                                "createdBy",
                                                "category",
                                                "releaseId",
                                                "voteCount",
                                                "parentId",
                                                "aiSummaryHash",
                                                "aiSummaryGeneratedAt",
                                                "descriptionHtml",
                                                "descriptionMarkdown"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/tasks/{task_short_id}/comments": {
            "get": {
                "operationId": "getOrganization:org_slugTasks:task_short_idComments",
                "summary": "List task comments",
                "description": "Retrieve a paginated list of public comments for a task.",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "org_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "task_short_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        },
                        "description": "Specifies the sort order by creation date. Use asc for ascending or desc for descending."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 30,
                            "default": 5
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "description": "Page number (starting from 1)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "type": "string"
                                                    },
                                                    "taskId": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "type": "string"
                                                    },
                                                    "content": {
                                                        "anyOf": [
                                                            {
                                                                "anyOf": [
                                                                    {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "boolean"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "propertyNames": {
                                                                            "type": "string"
                                                                        },
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdBy": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    "image": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "image"
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "visibility": {
                                                        "type": "string",
                                                        "enum": [
                                                            "public",
                                                            "internal"
                                                        ]
                                                    },
                                                    "source": {
                                                        "type": "string",
                                                        "enum": [
                                                            "sayr",
                                                            "github"
                                                        ]
                                                    },
                                                    "parentId": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "externalAuthorLogin": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "externalAuthorUrl": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "externalIssueNumber": {
                                                        "anyOf": [
                                                            {
                                                                "type": "integer",
                                                                "minimum": -2147483648,
                                                                "maximum": 2147483647
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "externalCommentId": {
                                                        "anyOf": [
                                                            {
                                                                "type": "integer",
                                                                "minimum": -9007199254740991,
                                                                "maximum": 9007199254740991
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "externalCommentUrl": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "contentHtml": {
                                                        "type": "string"
                                                    },
                                                    "contentMarkdown": {
                                                        "type": "string"
                                                    },
                                                    "reactions": {
                                                        "type": "object",
                                                        "properties": {
                                                            "total": {
                                                                "type": "number"
                                                            },
                                                            "reactions": {
                                                                "type": "object",
                                                                "propertyNames": {
                                                                    "type": "string"
                                                                },
                                                                "additionalProperties": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "count": {
                                                                            "type": "number"
                                                                        },
                                                                        "users": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "count",
                                                                        "users"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "total",
                                                            "reactions"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "taskId",
                                                    "createdAt",
                                                    "updatedAt",
                                                    "content",
                                                    "visibility",
                                                    "source",
                                                    "parentId",
                                                    "externalAuthorLogin",
                                                    "externalAuthorUrl",
                                                    "externalIssueNumber",
                                                    "externalCommentId",
                                                    "externalCommentUrl",
                                                    "contentHtml",
                                                    "contentMarkdown"
                                                ]
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "limit": {
                                                    "type": "number"
                                                },
                                                "page": {
                                                    "type": "number"
                                                },
                                                "totalPages": {
                                                    "type": "number"
                                                },
                                                "totalItems": {
                                                    "type": "number"
                                                },
                                                "hasMore": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "limit",
                                                "page",
                                                "totalPages",
                                                "totalItems",
                                                "hasMore"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "pagination"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization/{org_slug}/releases": {
            "get": {
                "operationId": "getOrganization:org_slugReleases",
                "summary": "Get Organization Releases",
                "description": "Retrieve all releases for the specified organization.",
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "organizationId": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "slug": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "anyOf": [
                                                            {
                                                                "anyOf": [
                                                                    {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "string"
                                                                            },
                                                                            {
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "type": "boolean"
                                                                            },
                                                                            {
                                                                                "type": "null"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "propertyNames": {
                                                                            "type": "string"
                                                                        },
                                                                        "additionalProperties": {}
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {}
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "planned",
                                                            "in-progress",
                                                            "released",
                                                            "archived"
                                                        ]
                                                    },
                                                    "targetDate": {
                                                        "type": "string"
                                                    },
                                                    "releasedAt": {
                                                        "type": "string"
                                                    },
                                                    "color": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "icon": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdBy": {
                                                        "anyOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "null"
                                                            }
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "string"
                                                    },
                                                    "updatedAt": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "organizationId",
                                                    "name",
                                                    "slug",
                                                    "description",
                                                    "status",
                                                    "targetDate",
                                                    "releasedAt",
                                                    "color",
                                                    "icon",
                                                    "createdBy",
                                                    "createdAt",
                                                    "updatedAt"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "org_slug",
                        "required": true
                    }
                ]
            }
        },
        "/organization/{org_slug}/releases/{release_slug}": {
            "get": {
                "operationId": "getOrganization:org_slugReleases:release_slug",
                "summary": "Get Release",
                "description": "Retrieve the specified release for the organization.",
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "organizationId": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "anyOf": [
                                                        {
                                                            "anyOf": [
                                                                {
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "string"
                                                                        },
                                                                        {
                                                                            "type": "number"
                                                                        },
                                                                        {
                                                                            "type": "boolean"
                                                                        },
                                                                        {
                                                                            "type": "null"
                                                                        }
                                                                    ]
[...]
